.collection li[routerLink],
.collection li.menu-icon {
    cursor: pointer;
}

.content-container ::ng-deep li {
    list-style-type: disc !important;
    list-style-position: inside !important;
}

@media print {
    .nav-container {
        display: none;
    }
}