<div class="row">
  <div class="col m3 s12 teal lighten-5">
    <h1 class="center"><a routerLink="/">WT1A</a></h1>
    <ul class="collection">
      <li class="collection-item teal lighten-4">Home</li>
      <li class="collection-item" routerLink="/content/home" routerLinkActive="active">News</li>
      <li class="collection-item" routerLink="/content/about" routerLinkActive="active">About Us</li>
      <li class="collection-item" routerLink="/content/bylaws" routerLinkActive="active">By-Laws</li>
      <li class="collection-item" routerLink="/content/committee" routerLinkActive="active">Executive Committee</li>
      <li class="collection-item" routerLink="/content/history" routerLinkActive="active">History</li>
      <li class="collection-item" routerLink="/content/minutes" routerLinkActive="active">Meeting Minutes</li>
      <li class="collection-item" routerLink="/content/membership" routerLinkActive="active">Membership</li>

      <li class="collection-item teal lighten-4">Awards</li>
      <li class="collection-item" routerLink="/content/administrator-award" routerLinkActive="active">Administrator Award</li>
      <li class="collection-item" routerLink="/content/innovative-grant-award" routerLinkActive="active">Innovative Grand Award</li>
      <li class="collection-item" routerLink="/content/outstanding-service-award" routerLinkActive="active">Outstanding Service Award</li>
      <li class="collection-item" routerLink="/content/scholarship" routerLinkActive="active">Scholarship</li>

      <li class="collection-item teal lighten-4">Conferences</li>
      <li class="collection-item" routerLink="/content/conference-2018" routerLinkActive="active">2018</li>
      <li class="collection-item" routerLink="/content/conference-2017" routerLinkActive="active">2017</li>
      <li class="collection-item" routerLink="/content/conference-2016" routerLinkActive="active">2016</li>
      <li class="collection-item" routerLink="/content/conference-2015" routerLinkActive="active">2015</li>
      <li class="collection-item" routerLink="/content/conference-2014" routerLinkActive="active">2014</li>
      <li class="collection-item" routerLink="/content/conference-2013" routerLinkActive="active">2013</li>
      <li class="collection-item" routerLink="/content/conference-exhibitors" routerLinkActive="active">Exhibitors</li>
      <li class="collection-item" routerLink="/content/conference-oshkosh-credit" routerLinkActive="active">Oshkosh Credit</li>
      <li class="collection-item" routerLink="/content/conference-program-proposal" routerLinkActive="active">Program Proposal</li>

      <li class="collection-item teal lighten-4">Other</li>
      <li class="collection-item" routerLink="/content/resources" routerLinkActive="active">Resources</li>
    </ul>
  </div>

  <div class="col m9 s12 content-container">
    <router-outlet></router-outlet>
  </div>
</div>