<div class="committee-wrapper">
    <h2>Executive Committee</h2>
    <div class="divider"></div>
    <div class="row">
      <div class="col s6 m6 l4"> 
        <p>
          Cassie Okey, <em><strong class="teal-text text-darken-3">Co-President</strong></em>
          <br>Potosi School District
          <br>128 N. U.S. Hwy. 61
          <br>Potosi WI 53820
          <br>608-763-4820
          <br>okeyc@potosisd.k12.wi.us
        </p>
      </div>
      <div class="col s6 m6 l4">
        <p>
          Gail Hamilton, <em><strong class="teal-text text-darken-3">Co-President</strong></em>
          <br>Weston School District
          <br>E2511 Hwy. S
          <br>Cazenovia WI 53924
          <br>608-986-2151, ext. 127
          <br>hamilton@weston.k12.wi.us
        </p>
      </div>
      <div class="col s6 m6 l4">
        <p>
            Kelly Kroon, <em><strong class="teal-text text-darken-3">Co-President-Elect</strong></em>
          <br>Reedsburg School District
          <br>kkroon@rsd.k12.wi.us
          <br>
          <br>Amy Treptow, <em><strong class="teal-text text-darken-3">Co-President-Elect</strong></em>
          <br>Reedsburg School District
          <br>atreptow@rsd.k12.wi.us
        </p>
      </div>
      <div class="col s6 m6 l4">
        <p>
            Paula Niedbalski, <em><strong class="teal-text text-darken-3">Past-Co-President</strong></em>
          <br>Cashton Elementary School
          <br>436 Front Street
          <br>Cashton WI 54619
          <br>niedbalskip@cashton.k12.wi.us
        </p>
      </div>
      <div class="col s6 m6 l4">
        <p>
            Alissa Sanders, <em><strong class="teal-text text-darken-3">Past-Co-President</strong></em>
          <br>Cashton Elementary School
          <br>436 Front Street
          <br>Cashton WI 54619
          <br>sandersa@cashton.k12.wi.us
        </p>
      </div>
      <div class="col s6 m6 l4">
        <p>
            Patty Harelson, <em><strong class="teal-text text-darken-3">Secretary</strong></em>
          <br>Black River Falls School District
          <br>Forrest Street Learning Center
          <br>720 Forrest Street
          <br>Black River Falls WI 54615
          <br>715-284-4357, ext. 4227
          <br>patty.harelson@brf.org
        </p>
      </div>
      <div class="col s6 m6 l4">
        <p>
            Beth Lee, <em><strong class="teal-text text-darken-3">Treasurer</strong></em>
          <br>Cashton Elementary School
          <br>436 Front Street
          <br>Cashton WI 54619
          <br>608-654-7377, ext. 339
          <br>Fax: 608-654-7390
          <br>leeb@cashton.k12.wi.us
        </p>
      </div>
      <div class="col s6 m6 l4">
        <p>
            Colleen Konicek, <em><strong class="teal-text text-darken-3">Exhibit Contact</strong></em>
          <br>715-358-3098
          <br>cmkonicek@gmail.com
        </p>
      </div>
      <div class="col s6 m6 l4">
        <p>
            Sue Wolfe, <em><strong class="teal-text text-darken-3">Exhibit Contact</strong></em>
          <br>Nekoosa School District
          <br>500 South Section Street
          <br>Nekoosa WI 54457
          <br>715-886-8028
          <br>sue_wolfe@nekoosa.k12.wi.us
        </p>
      </div>
      <div class="col s6 m6 l4">
        <p>
            Sharon Suchla, <em><strong class="teal-text text-darken-3">DPI Liaison</strong></em>
          <br>WI Dept. of Public Instruction
          <br>PO Box 7841
          <br>125 S. Webster Street
          <br>Madison WI 53702
          <br>sharon.suchla@dpi.wi.gov
        </p>
      </div>
      <div class="col s6 m6 l4">
        <p>
            Donna MacLeish, <em><strong class="teal-text text-darken-3">University Contact/Credit Advisor</strong></em>
          <br>machleishd@gmail.com
        </p>
      </div>
      <div class="col s6 m6 l4">
        <p>
            Lisa Arneson, <em><strong class="teal-text text-darken-3">CESA Representative/Innovative Grant Coordinator</strong></em>
          <br>machleishd@gmail.com
          <br>Lisa Arneson
          <br>CESA 3
          <br>1300 Industrial Drive
          <br>Fennimore WI 53809
          <br>608-822-2146
          <br>larneson@cesa3.org          
        </p>
      </div>
    </div>
</div>