<div class="proposal-wrapper">
  <h2>Program Proposal</h2>
  <div class="divider"></div>
  <p>If you are interested in presenting at a future conference, please fill out the form below and email it to one of the presidents (listed on the Executive Committee page).</p>
  <p>
    <a class="btn waves-effect waves-dark white-text" target="_blank" href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnx3aXNjb25zaW50aXRsZTFhc3NvY2lhdGlvbnd0MWF8Z3g6NzQxOWZlOTI5YzE5MWQ5Yw">Open Program Proposal</a>
  </p>
</div>