<div class="conf-container">
  <h2>2017 Conference</h2>
  <div class="divider"></div>

  <p><strong>Keynote Speakers</strong></p>
  <ul>
    <li>Thursday, April 6th: <a class="blue-text" href="http://tovanigroup.com/" target="_blank">Cris Tovani</a></li>
    <li>Friday, April 7th: <a class="blue-text" href="http://erikpalmerconsulting.com/" target="_blank">Erik Palmer</a></li>
  </ul>

  <p><strong>Recent Updates</strong></p>
  <ul>
    <li><a href="https://docs.google.com/document/d/1cmJpUJjhPnmIWM9Gilw-VnqfIYyiicrK6MHkmprDTug/edit?usp=sharing" class="blue-text" target="_blank">Conference At-a-Glance</a></li>
    <li><a href="https://docs.google.com/document/d/1PelQxh_iYfrxJ0GNpHjQMz19lH8L-WZnyK7XE6txICk/edit?usp=sharing" class="blue-text" target="_blank">Full Conference Overview</a></li>
    <li><a href="https://sites.google.com/site/wisconsintitle1associationwt1a/conferences/2017-spring-conference/exhibitors-2017" class="blue-text" target="_blank">Exhibitor List</a></li>
    <li><a href="https://docs.google.com/document/d/1Mjs9_Y2xZsWlEZuaXRKu7nl2rTIlt9QD4mXoatERTDM/edit?usp=sharing" class="blue-text" target="_blank">Handsouts Link</a></li>
    <li><a href="https://drive.google.com/open?id=0B18sW3IHsowvUDEwei1ILWlMWnAtbmt6OEI5dlBIMENvOFNR" class="blue-text" target="_blank">Thank You note from MaryRuth Books</a></li>
  </ul>

  <table class="striped bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>Registration form Spring 2017.doc</td>
        <td>Registration Document</td>
        <td>
          <a class="btn waves-effect waves-dark white-text" href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnx3aXNjb25zaW50aXRsZTFhc3NvY2lhdGlvbnd0MWF8Z3g6MTgwMTFkYmZhMzRhMDBhNQ" target="_blank">Open in Google Docs</a>
        </td>
      </tr>

      <tr>
        <td>Registration form Sprint 2017.pdf</td>
        <td>Registration PDF</td>
        <td>
          <a class="btn waves-effect waves-dark white-text" href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnx3aXNjb25zaW50aXRsZTFhc3NvY2lhdGlvbnd0MWF8Z3g6MThhMjE4MTM0NGE5MzA5NQ" target="_blank">Open in Google Docs</a>
        </td>
      </tr>

      <tr>
        <td>Syllabus for WT1A Spring Conference.pdf</td>
        <td>Conference Syllabus PDF</td>
        <td>
          <a class="btn waves-effect waves-dark white-text" href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnx3aXNjb25zaW50aXRsZTFhc3NvY2lhdGlvbnd0MWF8Z3g6MjJmNGFlMTRkZjBmMDFkNQ" target="_blank">Open in Google Docs</a>
        </td>
      </tr>

      <tr>
        <td>WT1A Wilderness Reservation information 2017.pdf</td>
        <td>Reservation Information PDF</td>
        <td>
          <a class="btn waves-effect waves-dark white-text" href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnx3aXNjb25zaW50aXRsZTFhc3NvY2lhdGlvbnd0MWF8Z3g6NzJhODM5NGNiZGRjNWI5Zg" target="_blank">Open in Google Docs</a>
        </td>
      </tr>
    </tbody>
  </table>

</div>