<div class="exhibitors-wrapper">
  <h2>Exhibitors</h2>
  <div class="divider"></div>
  <p>Thank you for considering being an exhibitor for our conference.  Our 2017 Conference will be April 6th and 7th at the Wilderness Convention Center in Wisconsin Dells.  Exhibitors will set up for Thursday, April 6th.</p>
  <div class="row">
    <div class="col l4 m6 s12">
      <p>
        <a class="btn waves-effect waves-dark white-text full" target="_blank" href="https://docs.google.com/document/d/11ia-ezqr0DXQS9_0XPyuFZ-gSv5tPqRigrILyNGbpc8/edit">Further Information</a>
      </p>
    </div>
    <div class="col l4 m6 s12">
      <p>
        <a class="btn waves-effect waves-dark white-text full" target="_blank" href="https://docs.google.com/document/d/1gn_xvxLuy2HyVDhZeDau-b3-TUezxsFpIrUDlb52zsk/edit?usp=sharing">Registration Form</a>
      </p>
    </div>
    <div class="col l4 m6 s12">
      <p>
        <a class="btn waves-effect waves-dark white-text full" target="_blank" href="https://www.zapevent.com/reg/event/11693">Register Online</a>
      </p>
    </div>
  </div>
  <p>For all questions contact Colleen Konicek: cmkonicek@gmail.com</p>
  <p>A processing fee is added to online registrations.</p>
</div>