<div class="innovative-grant-wrapper">
  <h2>Innovative Grant Award</h2>
  <div class="divider"></div>
  <p><strong>Summer Grant Opportunity!</strong></p>
  <p>Greetings, fellow Title Educators!  You are invited to apply for a special summer opportunity for the Wisconsin Title I Association's Innovative Grant Project.  There is a one-month window to apply, with the application deadline due July 6, 2017 by 4PM.  This grant will provide $2000 towards an innovative project that you would like to start in your school. We encourage you to apply! </p>
  <p>
      <a class="btn waves-effect waves-dark white-text">Open application form</a>
  </p>
  <p>
    Contact Lisa Arneson with any questions - larneson@cesa3.org        
  </p>
  <h4>2017 Grant Winners</h4>
  <ul>
      <li>Keshena Primary School - My Learning Box - Books and materials in a box that parents could use at home to support their child's learning.</li>
      <li>Arcadia Elementary School - Give Me Five program - Materials are provided for support to parents for five minutes of math and literacy practice at home.</li>
  </ul>
  <h4>2016 Grant Winners</h4>
  <ul>
      <li>Mauston School District - Summer reading project with book boxes and bags to reduce summer slide. </li>
      <li>Bonduel School District - Parent Involvement in Developing a Growth Mindset. Click <a href="https://drive.google.com/open?id=0B18sW3IHsowvVUtxMmVEZ291bG9HS3c2SVY4N1JXcmpxcDkw" target="_blank"><u>here</u></a> for more information.</li>
  </ul>
  <h4>2015 Grant Winners</h4>
  <ul>
      <li>Galesville-Ettrick-Trempealeau - Summer Reading Program - Book Kits with a parent/family involvement component.  Click <a href="https://www.youtube.com/watch?v=xZfztIYnkng&feature=youtu.be" target="_blank"><u>here</u></a> to see a short video on their project.</li>
      <li>Reedsburg - “Into the Woods with Books” will involve setting up libraries for the summer at their Outdoor Learning Center. Click <a href="https://drive.google.com/open?id=0B18sW3IHsowvcWJGUzBIeDhma1U" target="_blank"><u>here</u></a> for more details.</li>
  </ul>
  <h4>2014 Grant Winners</h4>
  <ul>
      <li>Click <a href="https://docs.google.com/document/d/12Yjr0mA0En33uxcd4ovi0asjPU2UIrdGaVQu9FH0i3s/edit"><u>here</u></a> to read about Oconto's Adventure Pack grant project.</li>
      <li>Click <a href="https://docs.google.com/document/d/1KxPp0m072BygDAOmROITKfRoyA6OdfK-vl9maixgP3s/edit"><u>here</u></a> to read about Tomah's Gardening grant project.</li>
  </ul>
  <p>
      <strong>Contact Grant Coordinator: Lisa Arneson, CESA 3, 1300 Industrial Drive, Fennimore, WI 53809, larneson@cesa3.org.</strong>
  </p>

    <table class="striped bordered">
        <thead>
            <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Download</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>WT1AWritingGuide2.pdf</td>
            <td>Writing Guide</td>
            <td>
                <a class="btn waves-effect waves-dark white-text" href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnx3aXNjb25zaW50aXRsZTFhc3NvY2lhdGlvbnd0MWF8Z3g6MWI4YTg2NzBlMzI3ZDdkYw" target="_blank">Open in Google Docs</a>
            </td>
            </tr>
            <tr>
            <td>WisconsinTitle1AssocationGrantRubric.pdf</td>
            <td>Rubric for applying for this Grant</td>
            <td>
                <a class="btn waves-effect waves-dark white-text" href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnx3aXNjb25zaW50aXRsZTFhc3NvY2lhdGlvbnd0MWF8Z3g6Njk0ODM3ZDVlNGFjZTNmNA" target="_blank">Open in Google Docs</a>
            </td>
            </tr>
        </tbody>
    </table>
</div>