<div class="contact-wrapper">
    <h2>Contact Us</h2>
    <div class="divider"></div>
    <p>
      <strong>For Conference Presenters</strong>, contact Alissa Sanders, current Co-President.
      <br>sandersa@cashton.k12.wi.us
      <br>Phone: 608-654-7377, ext. 341
    </p>
    <p>
      <strong>For Membership questions and Conference registration</strong>, contact Beth Lee, Treasurer.
      <br>leeb@cashton.k12.wi.us
      <br>Fax: 608-654-7390
      <br>Phone: 608-654-7377, ext. 354
    </p>
    <p>
      <strong>For Exhibitor information</strong>, contact Colleen Konicek.
      <br>cmkonicek@gmail.com
      <br>Phone: 715-358-3098
    </p>
</div>