<div class="parallax-container">
  <div class="row blue-grey darken-1 t8">
    <div class="col s12">
      <h2 class="header center white-text">Wisconsin Title 1 Association</h2>
      <h4 class="header center white-text">Empowering lives through some wholesome subtext</h4>
    </div>
  </div>
  <div class="parallax"><img src="assets/p2.jpg"></div>
</div>

<div class="row grey lighten-2">
  <div class="col m8 s12 center">
    <p class="grey-text text-darken-3 flow-text">The <strong>Wisconsin Title 1 Association</strong> is a group of Wisconsin educators committed to promoting and enhancing Title  1 programs throughout the state.  This group meets three times a year.  The WT1A presents up to four scholarships to high school seniors each year, as well as offering Administrator Awards, Outstanding Service Awards, and Innovative Grant Awards that are all presented at our Spring Conference meeting. If you wish to get involved in this organization, contact one of the Executive Committee members.</p>
  </div>
  <div class="col m4 s12 center white-text">
    <p>
      <a class="btn btn-large waves-effect waves-dark full" routerLink="/content/home">More about us</a>
    </p>
    <p>
      <a class="btn btn-large waves-effect waves-dark full" href="#">Donate to WT1A</a>
    </p>
  </div>
</div>

<br>
<div class="row white">
  <div class="col m3 s12 center">
    <i class="material-icons dp48">school</i>
    <br>
    <p>WT1A offers a scholarship for undergraduate degree seekers</p>
    <button class="btn btn-large waves-effect waves-dark">Scholarships</button>
  </div>
  <div class="col m3 s12 center">
    <i class="material-icons dp48">stars</i>
    <br>
    <p>WT1A recognizes devoted public servants</p>
    <button class="btn btn-large waves-effect waves-dark">Awards</button>
  </div>
  <div class="col m3 s12 center">
    <i class="material-icons dp48">gavel</i>
    <br>
    <p>Here you can view a list of our by laws</p>
    <button class="btn btn-large waves-effect waves-dark">By laws</button>
  </div>
  <div class="col m3 s12 center">
    <i class="material-icons dp48">people</i>
    <br>
    <p>WT1A hosts an annual title-1 conference as well as others</p>
    <button class="btn btn-large waves-effect waves-dark">Conferences</button>
  </div>
</div>

<br>
<br>
<div class="parallax-container">
  <div class="row full-height">
    <div class="col s6 offset-s6 m4 offset-m8 t8 grey darken-2 grey-text text-lighten-5 full-height">
      <h4 class="header">The Wisconsin Title 1 Way</h4>
      <p class="flow-text">
        Some super nice text can go here about how the WT1A is benefiting young minds, 
        empowering parents, fostering growth in schools, and financing college-bound students.
      </p>
    </div>
  </div>
  <div class="parallax"><img src="assets/p1.jpg"></div>
</div>

<div class="row grey darken-2 grey-text text-lighten-3">
  <div class="col m3 s12">
    <p class="center-align">
      <strong>Cassie Okey, <span class="yellow-text">Co-President</span></strong>
      <br>Potosi School District
      <br>128 N. U.S. Hwy. 61
      <br>Potosi WI 53820
      <br>608-763-4820
      <br>okeyc@potosisd.k12.wi.us
    </p>
  </div>
  <div class="col m3 s12">
    <p class="center-align">
      <strong>Gail Hamilton, <span class="yellow-text">Co-President</span></strong>
      <br>Weston School District
      <br>E2511 Hwy. S
      <br>Cazenovia WI 53924
      <br>608-986-2151, ext. 127
      <br>hamilton@weston.k12.wi.us
    </p>
  </div>
  <div class="col m3 s12">
    <p class="center-align">
      <strong>Kelly Kroon, <span class="yellow-text">Co-President Elect</span></strong>
      <br>Reedsburg School District
      <br>kkroon@rsd.k12.wi.us
    </p>
  </div>
  <div class="col m3 s12">
    <p class="center-align">
      <strong>Patty Harelson, <span class="yellow-text">Secretary</span></strong>
      <br>Black River Falls School District
      <br>Forrest Street Learning Center
      <br>720 Forrest Street
      <br>Black River Falls WI 54615
      <br>715-284-4357, ext. 4227
      <br>patty.harelson@brf.org
    </p>
  </div>
</div>

<div class="row grey darken-2 grey-text text-lighten-3">
  <div class="col s12">
    <p class="right"><a class="yellow-text" href="#">See all of the WT1A executive committee</a></p>
  </div>
</div>

<div class="row grey darken-3 grey-text text-lighten-1">
  <div class="col s12">
    <p class="left">&copy; 2017</p>
    <p class="right">Site created and donated by <span class="yellow-text text-darken-3"><a href="https://bresheske.github.io" target="_blank">Brandon Resheske</a></span></p>
  </div>
</div>
