<div class="minutes-wrapper">
  <h2>Meeting Minutes</h2>
  <div class="divider"></div>
  <p>
    The Wisconsin Title 1 Association holds 1 regularly scheduled meeting each year in the spring in conjunction with the Spring Conference.  
  </p>

  <table class="striped bordered">
    <thead>
      <tr>
        <th>Year</th>
        <th>Name</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>April 2017</td>
        <td>Unapproved Minutes</td>
        <td><a class="btn waves-effect waves-dark white-text" href="https://docs.google.com/document/d/1ASpJbUh7VOTG0GgAJrb3RJN3WfCnCZs7VF782TlZtqw/edit?usp=sharing" target="_blank">Open in Google Docs</a></td>
      </tr>
      <tr>
        <td>April 2016</td>
        <td>Business Meeting Minutes</td>
        <td><a class="btn waves-effect waves-dark white-text" href="https://docs.google.com/document/d/1BZiHSVAPNHLXjVo5jYprLLFHrNw9TRtBo9eOfZfUaTw/edit" target="_blank">Open in Google Docs</a></td>
      </tr>
      <tr>
        <td>April 2015</td>
        <td>Business Meeting Minutes</td>
        <td><a class="btn waves-effect waves-dark white-text" href="https://docs.google.com/document/d/1UImoYa83IkWkzeqvKf-yXsFIe8j7zr94mwSzDjHAD1g/edit" target="_blank">Open in Google Docs</a></td>
      </tr>
    </tbody>
  </table>

  <p>
    If you would like minutes to past Business or Executive Committee minutes, please email patty.harelson@brf.org.      
  </p>
</div>