<div class="conf-wrapper">
  <h2>2018 Conference</h2>
  <div class="divider"></div>
  <p><strong>Keynote Speakers</strong></p>
  <ul>
    <li>Thursday, April 5th: Mary Cay Ricci</li>
    <li>Friday, April 6th: <a class="blue-text" href="https://mathinstitutewi.org/" target="_blank">Mathematics Institute of Wisconsin</a></li>
  </ul>
  <div class="row">
    <div class="col m6 s12">
      <p>
        <a class="btn waves-effect waves-dark white-text full" target="_blank" href="https://docs.google.com/document/d/1aPiVKMi1D6vaZWYkLopYyWoHlJuDEstcLAOIFyyrBYA/edit?ts=59e91709">View Breakout Sessions</a>
      </p>
    </div>
    <div class="col m6 s12">
      <p>
        <a class="btn waves-effect waves-dark white-text full" target="_blank" href="http://wt1a2018conference.zapevent.com/">Conference Registration</a>
      </p>
    </div>
  </div>
  <p>
      Exhibitors please visit the Exhibitors page. We thank you for your involvement!      
  </p>

  <table class="striped bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>Registration form Spring 2018.doc</td>
        <td>Registration Document</td>
        <td>
          <a class="btn waves-effect waves-dark white-text" href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnx3aXNjb25zaW50aXRsZTFhc3NvY2lhdGlvbnd0MWF8Z3g6OWZiODAxZjI2NTE5Nzc5" target="_blank">Open in Google Docs</a>
        </td>
      </tr>

      <tr>
        <td>Registration form Sprint 2018.pdf</td>
        <td>Registration PDF</td>
        <td>
          <a class="btn waves-effect waves-dark white-text" href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnx3aXNjb25zaW50aXRsZTFhc3NvY2lhdGlvbnd0MWF8Z3g6NWVmYjZhZGVlZGM4ZjkwNw" target="_blank">Open in Google Docs</a>
        </td>
      </tr>
      
    </tbody>
  </table>

</div>