<div class="about-wrapper">
  <h2>About Us</h2>
  <div class="divider"></div>
  <p>The Wisconsin Title 1 Association is a group of Wisconsin educators committed to promoting and enhancing Title  1 programs throughout the state.  This group meets three times a year.  The WT1A presents up to four scholarships to high school seniors each year, as well as offering Administrator Awards, Outstanding Service Awards, and Innovative Grant Awards that are all presented at our Spring Conference meeting. If you wish to get involved in this organization, contact one of the Executive Committee members.</p>
</div>