<div class="history-wrapper">
  <h2>History</h2>
  <div class="divider"></div>
  <p>The Wisconsin Title 1 Association was started around 1989.  Scroll down for Conference History and the Executive Committee History.  We are working on updating our information. If you have further information about the history of WT1A, please contact Patty Harelson at patty.harelson@brf.org.</p>
  <table class="striped responsive-table bordered">
    <thead>
      <tr>
        <th>Year</th>
        <th>President</th>
        <th>Pres. Elect</th>
        <th>Treasurer</th>
        <th>Secretary</th>
        <th>CESA</th>
        <th>NAFEPA</th>
        <th>DPI</th>
        <th>Keynoters</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>17-18</td>
        <td>Cassie Okey, Gail Hamilton</td>
        <td>Kelly Kroon, Amy Treptow</td>
        <td>Beth Lee</td>
        <td>Patty Jo Harelson</td>
        <td>Lisa Arneson</td>
        <td>None</td>
        <td>Sharon Suchla</td>
        <td>April 2018 @Glacier Canyon (Wilderness Resort) in Wisconsin Dells.  Mary Kay Ricci and Brookhill Math Institute</td>
      </tr>
      <tr>
        <td>16-17</td>
        <td>Alissa Sanders, Paula Niedbalski</td>
        <td>Cassie Okey, Gail Hamilton</td>
        <td>Beth Lee</td>
        <td>Patty Jo Harelson</td>
        <td>Lisa Arneson</td>
        <td>None</td>
        <td>Sharon Suchla</td>
        <td>
          April 2017 @ Glacier Canyon (Wilderness Resort) in Wisconsin Dells with  Cris Tovani and Erik Palmer
        </td>
      </tr>
      <tr>
        <td>15-16</td>
        <td>Alissa Sanders, Paula Niedbalski</td>
        <td></td>
        <td>Beth Lee</td>
        <td>Patty Jo Harelson</td>
        <td>Lisa Arneson</td>
        <td>None</td>
        <td>Sharon Suchla</td>
        <td>
          April 2016 @ Glacier Canyon (Wilderness Resort) in Wisconsin Dells with Mary Howard and Linda Hoyt
        </td>
      </tr>
      <tr>
        <td>14-15</td>
        <td>Heidi Walter</td>
        <td>Alissa Sanders, Paula Niedbalski</td>
        <td>Beth Lee</td>
        <td>Patty Jo Harelson</td>
        <td>Lisa Arneson</td>
        <td>None</td>
        <td>Sharon Suchla</td>
        <td>
          April 2015 @ Glacier Canyon (Wilderness Resort) in Wisconsin Dells with Jennifer Serravallo and Shane Templeton            
        </td>
      </tr>
    </tbody>
  </table>
</div>