<div class="laws-wrapper">
  <h2>By-Laws</h2>
  <div class="divider"></div>
  <h3>
    WISCONSIN TITLE I ASSOCIATION BY-LAWS
  </h3>
  <h4>
    ARTICLE I. NAME
  </h4>
  <p>
    The name of the association shall be the Wisconsin Title I Association (WTIA), serving the State of Wisconsin.
  </p>
  <h4>
    ARTICLE II. NATURE AND PURPOSES
  </h4>
  <strong>
    Section 1. Nature:
  </strong>
  <p>
    The Wisconsin Title I Association shall be a professional organization of individuals who are concerned with children who
    have academic needs.
  </p>
  <strong>
    Section 2. Purposes:
  </strong>
  <ol>
    <li>
      A. To promote the quality of Title I programs on a statewide basis through a coordinated effort with the Department of Public
      Instruction (DPI), the Wisconsin Cooperative Educational Service Agencies (CESA’s), and the Wisconsin State Reading
      Association (WSRA) Title I Committee.
    </li>
    <li>
      B. To enhance the administration of Title I programs in the State of Wisconsin.
    </li>
    <li>
      C. To identify common concerns and seek resolutions in concert with DPI, CESA, and WSRA.
    </li>
    <li>
      D. To act as a resource to DPI, CESA, and WSRA.
    </li>
    <li>
      E. To review recommended educational research and issues and to disseminate educational information.
    </li>
    <li>
      F. To share ideas to take back to the Local Education Agencies (LEA).
    </li>
    <li>
      G. To serve as a peer support group.
    </li>
    <li>
      H. To promote the development of quality teacher programs, both preservice and inservice.
    </li>
  </ol>

  <h4>
    ARTICLE III. MEMBERSHIP DUES
  </h4>
  <strong>
    Section 1. Eligibility:
  </strong>
  <p>
    Membership in the Wisconsin Title I Association shall be open to those individuals and groups interested in Wisconsin Title
    I programs.
  </p>
  <strong>
    Section 2. Active Members:
  </strong>
  <p>
    Membership in Wisconsin Title I Association shall become effective upon filing the individual or group membership form with
    the treasurer and payment of dues.
  </p>
  <strong>
    Section 3. Dues:
  </strong>
  <p>
    The Executive Board with the approval of the membership shall set dues for an annual membership in Wisconsin Title I Association.
    Dues are payable for the fiscal year and shall apply to the year beginning July 1 and ending June 30.
  </p>
  <strong>
    Section 4. Individual Expenses:
  </strong>
  <p>
    Members of Wisconsin Title 1 Association shall be responsible for their own expenses incurred in the course of participating
    in Wisconsin Title 1 Association functions. Reimbursement could occur through local Title 1 funds if not in conflict
    with district or DPI policy.
  </p>
  <h4>
    ARTICLE IV. OFFICERS
  </h4>
  <strong>
    Section 1. Officers:
  </strong>
  <p>
    The elected officers of Wisconsin Title I Association shall be a president/co-president, past president/co-past president,
    president elect/co-president elect, secretary and treasurer.
  </p>
  <strong>
    Section 2. Term of Office:
  </strong>
  <p>
    The term of office of the president/co-president, past president/co-past president, and president elect/co-president elect
    shall be one year. The president/co-president shall automatically succeed to the office of past president/co-past president,
    and the president elect/co-president elect shall automatically succeed to the office of president/co-president for a
    period of one year. The term of office for the secretary and treasurer shall be two years.
  </p>
  <strong>
    Section 3. President/Co-President:
  </strong>
  <p>
    The term of office for the president/co-president shall be one year commencing on July 1st. The president/co-president shall
    then automatically succeed to the office of past president/co-past president for a period of one year. The president/co-president
    shall promote the purposes of Wisconsin Title I Association as listed in Article II; shall prepare for and preside at
    meetings; shall act as the chairperson of the Executive Board; and shall serve as ex-officious member(s) of all committees.
  </p>
  <p>
    The president/co-president is responsible for setting up meetings with DPI, securing the hotel for conference accommodations,
    securing the speakers, setting the agenda, and planning the food for conferences. Should the office of the president/co-president
    become vacant, or if the president/co-president is unable to serve, the president elect/co- president elect shall immediately
    assume the office and become president/co-president the following year.
  </p>
  <strong>
    Section 4. Past President/Co-Past President:
  </strong>
  <p>
    The term of office for the past president/co-past president, shall be one year commencing on July 1st. As past president/co-past
    president, she/he will serve on the Executive Board as an ex-officious member for one year. The past president/co-past
    president, is in charge of the Administrator and Outstanding Service awards and forms for nominations of those awards.
  </p>
  <strong>
    Section 5. President Elect/Co-President Elect:
  </strong>
  <p>
    The term of office of the president elect/co-president elect shall be one year commencing on July 1st. The president elect/co-president
    elect shall perform any additional duties as may be assigned by the president. The president elect/co-president elect
    shall be responsible for developing the program for the following year in conjunction with the Executive Board.
  </p>
  <strong>
    Section 6. Secretary:
  </strong>
  <p>
    The term of office of the secretary shall be two years commencing on July 1st of odd years.
  </p>
  <p>
    The secretary shall record the minutes of all Wisconsin Title I Association meetings and all meetings of the Executive Board
    and keep permanent record of the minutes of all meetings. The secretary shall distribute the minutes and actions of the
    organization, prepare reports as required, and notify total membership of the date, time and place of all general meetings
    at least three weeks before the meeting.
  </p>
  <p>
    The secretary shall maintain the minutes. Up-to- date records shall be turned over to the successor within thirty days of
    leaving office.
  </p>
  <p>
    Should the secretary be unable to fulfill the duties of the term, the president/co-president shall appoint someone to fill
    the office with the approval of the Board.
  </p>
  <strong>
    Section 7. Treasurer:
  </strong>
  <p>
    The term of office of the treasurer shall be two years commencing on July 1st of even years.
  </p>
  <p>
    The treasurer shall maintain accurate and up-to- date records, file any state or federal reports, make summary reports of
    all receipts and expenditures, sign checks on behalf of Wisconsin Title 1 Association, and prepare a financial report
    for the new fiscal year to be reviewed by the Executive Board.
  </p>
  <p>
    It is the treasurer&#39;s job to thank people and receipt people for any correspondence related to donated monies.
  </p>
  <p>
    The treasurer is responsible for securing rooms for the Executive Board meetings. The treasurer shall call in an accurate
    number for meals one week in advance. The treasurer is responsible to encourage renewal of membership and any other additional
    duties as assigned by the president/co-president. Up-to- date books shall be turned over to the successor within thirty
    days of leaving office.
  </p>
  <p>
    Should the treasurer be unable to fulfill the duties of the term, the president/co-president shall appoint someone to fill
    the office with the approval of the Board.
  </p>
  <strong>
    Section 8. Expenses:
  </strong>
  <p>
    Expenses incurred by officers for planning and preparation of meetings or events shall be paid by the Association upon submission
    of receipts or itemized statements as per the &quot;Chart of Paid Expenses&quot; (See Exhibit 1) (except as stated in
    Article III. Section 4.)
  </p>

  <h4>
    ARTICLE V. EXECUTIVE BOARD
  </h4>
  <strong>
    Section I. Function:
  </strong>
  <p>
    The Executive Board shall have the general power to administer the affairs of Wisconsin Title I Association between general
    meetings. It shall approve all appointments.
  </p>
  <strong>
    Section 2. Composition:
  </strong>
  <p>
    The Executive Board shall be comprised of President/Co-President, Past President/Co- Past President, President Elect/Co-President
    Elect, Secretary, Treasurer, Exhibitor Coordinator(s), Scholarship Chair, CESA Representative, DPI Representative, and
    Institute of Higher Education (IHE) Representative.
  </p>
  <strong>
    Section 3. Quorum:
  </strong>
  <p>
    A quorum of the Executive Board shall consist of the president/co-president and three other members of the Board.
  </p>
  <h4>
    ARTICLE VI. ASSEMBLY
  </h4>
  <strong>
    Section 1. Composition:
  </strong>
  <p>
    All eligible and active members, or their designee, of Wisconsin Title I Association.
  </p>
  <strong>
    Section 2. Meetings:
  </strong>
  <p>
    The Executive Board will determine meeting dates. Meetings of Wisconsin Title 1 Association shall usually occur once per
    year.
  </p>
  <strong>
    Section 3. Quorum:
  </strong>
  <p>
    A quorum of the assembly shall consist of a majority of those present and eligible to vote.
  </p>
  <strong>
    Section 4. Meeting Format:
  </strong>
  <p>
    The meeting format will generally be as follows:
  </p>
  <ol>
    <li>
      1. Welcome
    </li>
    <li>
      2. Minutes
    </li>
    <li>
      3. Treasurer&#39;s Report
    </li>
    <li>
      4. Committee Reports
    </li>
    <li>
      5. Unfinished Business
    </li>
    <li>
      6. New Business
    </li>
    <li>
      7. Announcements/Updates
    </li>
    <li>
      8. Adjournment
    </li>
  </ol>

  <h4>
    ARTICLE VII. NOMINATION AND ELECTIONS
  </h4>
  <strong>
    Section 1. Election:
  </strong>
  <p>
    The election of officers shall be held annually at the regularly scheduled meeting.
  </p>
  <strong>
    Section 2. Nominating Committee:
  </strong>
  <p>
    The Nominating Committee shall be composed of the Executive Board and any members appointed by the President/Co-President.
  </p>
  <strong>
    Section 3. Mode of Election:
  </strong>
  <p>
    The committee shall prepare a slate of nominees. After the slate has been presented to the assembly, the president/co-president
    shall give an opportunity to propose nominations from the floor. If nominations are not given from the floor, the secretary
    shall be directed to cast a unanimous ballot. If there shall be more than one nominee for any office, voting shall be
    by ballot. A majority of the votes cast shall be necessary for election.
  </p>
  <h4>
    ARTICLE VIII. COMMITTEES
  </h4>
  <strong>
    Section I. Standing Committees:
  </strong>
  <ol>
    <li>
      A. Standing committees shall be added or deleted by action of the Executive Board.
    </li>
    <li>
      B. All committees shall be composed of current members in good standing and shall report to the Executive Board.
    </li>
    <li>
      C. Description of Committees.
      <ol>
        <li>
          1) Nominating Committee. See Article VII, Section 2.
        </li>
        <li>
          2) Scholarship Award Committee This committee will read the submitted scholarship applications sent from former Title I students
          and determine the yearly winners.
        </li>
        <li>
          3) Outstanding Service Award Committee This committee will read the submitted service award applications and submit their
          recommendations to the WT1A executive board.
        </li>
        <li>
          4) Administrator Award Committee This committee will read the submitted outstanding administrator award applications and
          submit their recommendations to the WT1A executive board.
        </li>
        <li>
          5) Innovative Grants Committee This committee will read the submitted innovative grant applications and submit their recommendations
          to the WT1A executive board.
        </li>
        <li>
          6) Conference Planning Committee This committee will work to communicate and coordinate various aspects of conference planning
          to include reserving facilities and securing presenters to cover the areas of math, reading, writing, parent involvement,
          administration, and technology.
        </li>
      </ol>
    </li>
  </ol>
  <strong>
    Section 2. Ad Hoc Committees:
  </strong>
  <p>
    Other committees may be authorized from time to time by the Executive Board and shall serve for the period specified as long
    as their function is pertinent to Wisconsin Title I Association.
  </p>
  <h4>
    ARTICLE IX. AMENDMENTS
  </h4>
  <strong>
    Section I. Procedure for Amending:
  </strong>
  <p>
    Amendments will be adopted by the affirmative vote of a quorum of the voting members in attendance at regularly scheduled
    meetings.
  </p>
  <strong>
    Section 2. Other:
  </strong>
  <p>
    The Secretary shall record in the minutes any changes in policies and procedures that do not require an amendment.
  </p>
</div>