<h2>Latest News</h2>
<h4>Plans are well under way for the Spring 2018 Conference!</h4>
<p>Dates: April 5th - April 6th, 2018</p>
<p>Keynote Speakers:</p>
<ul>
  <li>Thursday: Mary Cay Ricci</li>
  <li>Friday: Mathematics Institute of Wisconsin</li>
</ul>
<p><strong>Check the 2018 Conference page for updates and information!  Hope to see you there!</strong></p>
<p>Plan Ahead:</p>
<ul>
  <li>2019 Spring Conference: April 4th - April 5th, 2019</li>
  <li>2020 Spring Conference: April 2nd - April 3rd, 2019</li>
</ul>
<h4>Suggestion Box for Future Conferences</h4>
<a class="btn waves-effect waves-dark white-text" href="https://docs.google.com/forms/d/12rdjPzlVw-Vlf15Bndlidtd-Sqi4t_n0H9T4yLcas-w/edit" target="_blank">Suggestion Box</a>
<h4>Information Brochure</h4>
<p>The Wisconsin State Reading Association has put together an informational brochure about Title 1.  These brochures are in English, Spanish, and Hmong.  Head to our Resources page to download your own copies.</p>
<p>The Wisconsin Title 1 Association (WT1A) is a dedicated group of educators committed to promoting and enhancing the quality of Title 1 programs throughout the state of Wisconsin.  The group is comprised of educational professionals from all corners of the state who are concerned with children who have learning difficulties.</p>
<p>Working directly with the Department of Public Instruction, the Association identifies concerns and seeks methods for resolving the challenges facing Title 1 programs and administrators.</p>
<p>A conference is held each spring to keep members current on developments in the field and to share the latest state and federal updates.</p>
<h4>Social</h4>
<p>Welcome to the WT1A website!  Let us know if you have suggestions - <span class="teal-text">wisconsintitle1association@gmail.com</span></p>
<p>Like us on Facebook for more updates.</p>
<a class="btn waves-effect waves-dark white-text" href="https://www.facebook.com/WisconsinTitleIAssociation" target="_blank">Facebook Page</a>