<div class="resources-wrapper">
  <h2>Resources</h2>
  <div class="divider"></div>
  <div class="row">
    <div class="col s12">
      <div class="card blue-grey">
        <div class="card-content white-text">
          <p>When you don't read with your kids or write with your kids and you're the reading and writing teacher, then we've got problems.</p>
          <p class="right"><em>-Steven Layne</em></p>
          <br>
        </div>
      </div>
    </div>
  </div>
  <h4>
      Professional Development Opportunity      
  </h4>
  <p>Thanks for your willingness to send this email out to colleagues across the state.  Thinking Maps is quickly spreading across the Upper Midwest because of their research-based and systemic approach and how easily they are implemented.  Schools are seeing increased rigor, a deeper understanding of standards, strong cross-curricular literacy, and a practical way to teach WIDA standards and language through content.</p>
  <p>It's exciting that there will be two deep-level training offered in Wisconsin this summer.   Because Thinking Maps are brain-based, they will enable districts to strengthen their existing work and empower them to lead an implementation whenever they are ready.  Information on the two trainings and on Thinking Maps is found below.</p>
  <p><strong>​Summer Training in Wisconsin</strong></p>
  <ul>
    <li>
      <a class="blue-text" href="https://community.thinkingmaps.com/downloads/flyers/1010_131402857851348262_CESA3-LFLTOT-JulyOct2017.pdf">CESA 3 - Fennimore, WI - July 24-26, October 9-10​</a>
    </li>
    <li>
      <a class="blue-text" href="https://community.thinkingmaps.com/downloads/flyers/1015_131396051158410766_LFLTOT_AugOct2017_CESA%206.pdf">​CESA 6 - Oshkosh, WI - August 8-10, October 12-13</a>
    </li>
  </ul>
  <p><strong>Why? / Research​</strong></p>
  <ul>
    <li>
      <a class="blue-text" href="https://www.youtube.com/watch?v=yA39OF562ZY">https://www.youtube.com/watch?v=yA39OF562ZY</a> (3 minutes)
    </li>
    <li>
      <a class="blue-text" href="https://youtu.be/lJFAcVCJxVk">https://youtu.be/lJFAcVCJxVk</a> (9 minutes)
    </li>
  </ul>
  <p><strong>Overview of Our Services​</strong></p>
  <ul>
    <li>
      <a class="blue-text" href="https://youtu.be/tp6xIJHGSyM">https://youtu.be/tp6xIJHGSyM</a> (5 minutes)
    </li>
  </ul>
  <p><strong>Demonstration of the Maps</strong></p>
  <ul>
    <li>
      <a class="blue-text" href="https://vimeo.com/100521066">https://vimeo.com/100521066</a> (3 minutes)
    </li>
    <li>
      <a class="blue-text" href="https://www.youtube.com/playlist?list=PLvNzG0U6ounzm3YgM3aW3biLb1TM0zuXv">https://www.youtube.com/playlist?list=PLvNzG0U6ounzm3YgM3aW3biLb1TM0zuXv</a> (8 short clips - one for each map, each 1-2 minutes in length)​
    </li>
  </ul>
  <p><strong>Thinking Maps Leadership Applications</strong></p>
  <ul>
    <li>
      <a class="blue-text" href="https://www.youtube.com/watch?v=LNjAHOKL7MQ&feature=em-upload_owner">https://www.youtube.com/watch?v=LNjAHOKL7MQ&feature=em-upload_owner</a> (13 minutes)
    </li>
  </ul>
  <p><strong>Example of a School Improvement Guide ​ (Lake County Schools)</strong></p>
  <ul>
    <li>
      <a class="blue-text" href="https://drive.google.com/file/d/0B0js6SwZnyWCeU5TMjNCNWR5ZWs/view?usp=sharing%E2%80%8B">https://drive.google.com/file/d/0B0js6SwZnyWCeU5TMjNCNWR5ZWs/view?usp=sharing%E2%80%8B</a>
    </li>
  </ul>
  <p><strong>Contact for Additional Information</strong></p>
  <ul>
    <li>
      <a>Rob Nelson at ​952-242-7655​ or rnelson@thinkingmaps.com</a>
    </li>
  </ul>
  <p>
    <strong>DPI: </strong><a href="http://esea.dpi.wi.gov/" class="blue-text" target="_blank">http://esea.dpi.wi.gov/</a>
    <br>Guidelines: <a href="http://titleone.dpi.wi.gov/ttlone_guidelines" class="blue-text" target="_blank">http://titleone.dpi.wi.gov/ttlone_guidelines</a>
  </p>
  <p>
    <strong>Speaking and Listening</strong>
    <br><a href="https://ww2.kqed.org/mindshift/2016/10/03/why-the-art-of-speaking-should-be-taught-alongside-math-and-literacy/" class="blue-text" target="_blank">Mindshift Article on Teaching the Art of Speaking</a>
  </p>

  <p><strong>Reading and Writing</strong></p>
  <ul>
    <li>
        Wisconsin State Reading Associationsomething - <a href="http://www.wsra.org/" class="blue-text" target="_blank">http://www.wsra.org/</a>
    </li>
    <li>
        International Reading Association - <a href="http://www.reading.org/" class="blue-text" target="_blank">http://www.reading.org/</a>
    </li>
    <li>
        ReadWisconsin - <a href="http://readwisconsin.dpi.wi.gov/" class="blue-text" target="_blank">http://readwisconsin.dpi.wi.gov/</a>
    </li>
    <li>
        We Give Books - <a href="http://www.wegivebooks.org/" class="blue-text" target="_blank">http://www.wegivebooks.org/</a>
    </li>
    <li>
        Kidskonnect (research tool) - <a href="http://www.kidskonnect.com/" class="blue-text" target="_blank">http://www.kidskonnect.com/</a>
    </li>
    <li>
        First Book: Giving children and families the opportunity to own and read their first new books - <a href="http://www.firstbook.org/" class="blue-text" target="_blank">http://www.firstbook.org/</a>
    </li>
    <li>
        ReadWriteThink - <a href="http://www.readwritethink.org/" class="blue-text" target="_blank">http://www.readwritethink.org/</a>
    </li>
    <li>
        Into the Book Teacher area - <a href="http://reading.ecb.org/teacher/" class="blue-text" target="_blank">http://reading.ecb.org/teacher/</a>
    </li>
    <li>
        TECHAHEAD - <a href="http://www.techaheadcorp.com/kc/mobile-phone-reading-phonics-kids/" class="blue-text" target="_blank">http://www.techaheadcorp.com/kc/mobile-phone-reading-phonics-kids/</a>
    </li>
  </ul>
  
  <p><strong>Math</strong></p>
  <ul>
    <li>Resources for Teaching Money  - <a href="https://www.mint.com/math-and-money-for-kids/" class="blue-text" target="_blank">https://www.mint.com/math-and-money-for-kids/</a></li>
    <li>National Library of Virtual Manipulatives  - <a href="http://nlvm.usu.edu/en/nav/vlibrary.html" class="blue-text" target="_blank">http://nlvm.usu.edu/en/nav/vlibrary.html</a></li>
    <li>Khan Academy - Math videos for teaching math skills K-12 - <a href="https://www.khanacademy.org/" class="blue-text" target="_blank">https://www.khanacademy.org/</a></li>
    <li>Math Games and Quizzes  - <a href="http://www.henryanker.com/" class="blue-text" target="_blank">http://www.henryanker.com/</a></li>
    <li>Ten Frame Website  - <a href="http://illuminations.nctm.org/Activity.aspx?id=3565" class="blue-text" target="_blank">http://illuminations.nctm.org/Activity.aspx?id=3565</a></li>
    <li>Math Fact Cafe  - <a href="http://www.mathfactcafe.com/view/view.aspx?t=P&g=2" class="blue-text" target="_blank">http://www.mathfactcafe.com/view/view.aspx?t=P&g=2</a></li>
    <li>Create-a-Graph - <a href="http://nces.ed.gov/nceskids/createagraph/" class="blue-text" target="_blank">http://nces.ed.gov/nceskids/createagraph/</a></li>
    <li>Johnnie's Math page  - <a href="http://jmathpage.com/" class="blue-text" target="_blank">http://jmathpage.com/</a></li>
  </ul>

  <p><strong>Parent</strong></p>
  <ul>
    <li>Harvard Family Research Project  - <a href="http://www.hfrp.org/" class="blue-text" target="_blank">http://www.hfrp.org/</a></li>
    <li>National Coalition for Parent Involvement in Education  - <a href="http://www.ncpie.org/" class="blue-text" target="_blank">http://www.ncpie.org/</a></li>
    <li>Family Involvement Conference  - <a href="http://www.familyinvolvementconference.com/" class="blue-text" target="_blank">http://www.familyinvolvementconference.com/</a></li>
    <li>Site for More Parent Resources  - <a href="http://www.dpi.state.nd.us/title1/targeted/require/parent/links.shtm" class="blue-text" target="_blank">http://www.dpi.state.nd.us/title1/targeted/require/parent/links.shtm</a></li>
  </ul>

  <p><strong>Documents</strong></p>
  <table class="striped bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>Title1Brochure.pdf</td>
        <td>Brochure - English Translation</td>
        <td>
          <a class="btn waves-effect waves-dark white-text" href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnx3aXNjb25zaW50aXRsZTFhc3NvY2lhdGlvbnd0MWF8Z3g6NDRjZWMyNGY5MjY2ZTU0Mw" target="_blank">Open in Google Docs</a>
        </td>
      </tr>
      <tr>
        <td>Title1Brochure Hmong.pdf</td>
        <td>Brochure - Hmong Translation</td>
        <td>
          <a class="btn waves-effect waves-dark white-text" href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnx3aXNjb25zaW50aXRsZTFhc3NvY2lhdGlvbnd0MWF8Z3g6NzQ0YTIwYjM5YjJiZTcwZA" target="_blank">Open in Google Docs</a>
        </td>
      </tr>
      <tr>
        <td>Title1Brochure Spanish.pdf</td>
        <td>Brochure - Spanish Translation</td>
        <td>
          <a class="btn waves-effect waves-dark white-text" href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnx3aXNjb25zaW50aXRsZTFhc3NvY2lhdGlvbnd0MWF8Z3g6MjI1N2NmMzAxMWJkZTY0" target="_blank">Open in Google Docs</a>
        </td>
      </tr>

    </tbody>
  </table>
</div>