<div class="admin-wrapper">
  <h2>Administrator Award</h2>
  <div class="divider"></div>

  <div class="row">
    <div class="col s12">
      <div class="card blue-grey lighten-1">
        <div class="card-content white-text">
          <span class="card-title">2018 Nominations</span>
          <p>See nominating instructions below.</p>
        </div>
      </div>
    </div>
  </div>

  <h4>2017 Administrator Award Recipient</h4>
  <p>On behalf of the Wisconsin Title I Association, we would like to congratulate <strong>Ms. Elizabeth Tierney Olson</strong> on receiving the Administrator Award for 2017.  Ms. Olson is an elementary principal with the Montello School District at Forest Lane Community School.  Her desire for increased student achievement and her support of Title I is evident in all she does for students, teachers and parents.</p>
  <p>Ms. Olson was nominated for this award due to her leadership in addressing the education of those students who struggle academically.    She is a connected educator who uses a variety of professional connections, literature, and professional organizations to remain current with research, effective strategies , and issues in instruction, learning, leadership, assessment, and achievement.</p>
  <blockquote>
      Ms. Olson exemplifies what it means to be an educational visionary. She sees clearly what is  possible with Title I students and has the ability to create systems that allow vision to become reality. A true practitioner,  she understands how cutting edge research can be implemented within a school to benefit Title I students.
  </blockquote>
  <blockquote>
      Ms. Olson has created a culture here at Forest Lane Community School that ensures that educators provide a high-quality curriculum that ensures all students meet academic standards.
  </blockquote>

  <h4>2016 Administrator Award Recipient</h4>
  <p>On behalf of the Wisconsin Title I Association, we would like to congratulate <strong>Mr. Eric Nelson</strong> on receiving the Administrator Award for 2016.  Mr. Nelson has worked in the School District of Mishicot for 15 years where he began teaching as a sixth grade teacher before starting his administrative career in the district.  Mr. Nelson is currently Principal of O.H. Schultz Elementary School and the Director of Instruction for the district.  Eric and his staff are committed to leading the way and providing students with new endeavors and challenges that promote "21st Century Skills".</p>
  <p>Mr. Nelson was nominated for this award due to his knowledge, advocacy and leadership of current practices and research in Title I programs.  His dedication and support of a Title I Program was evident by the testimony in letters of support written by colleagues and community members.</p>
  <blockquote>
      Through Mr. Nelson's leadership, O.H. Schultz has maintained a top notch Title I Reading Program that reflects current research and innovative teaching methods.
  </blockquote>
  <blockquote>
      As the school leader he demonstrates knowledge, support and leadership as a true collaborator who values the purpose and mission of Title I programs.
  </blockquote>

  <h4>Administrator Award Guidelines</h4>
  <p>The Wisconsin Title 1 Associations presents the Administrator Award to a Wisconsin Administrator who demonstrates leadership in the Title 1 Program.</p>
  <strong>Eligibility</strong>
  <p>Title 1 staff may nominate any school and/or district level administrator who is not employed through Title 1 funds.  Nominees should display these qualities:</p>
  <ul>
      <li>Acts as an advocate of Title 1</li>
      <li>Is knowledgeable about Title 1</li>
      <li>Provides leadership that reflects current research and practice in Title 1 programs</li>
      <li>Serves as a role model for other administrators</li>
  </ul>
  <strong>Nomination Process</strong>
  <p>Nominations must include four letters of support from any of these sources: teachers, supervisors, board members, parents, local community members, or any other appropriate references.  Letters of support should include information on how the nominee meets the above criteria.  Each school district may nominate one person.  Nomination packets, consisting of the four letters of support, vita describing the nominee's educational background and professional activities, and a nomination form should be submitted by the deadline listed.</p>
  <a class="btn waves-effect waves-dark white-text" href="https://docs.google.com/document/d/1WP6pE7UCuJxOsS5ROnUXfrEvz0zrlAUwUwJgQWMSRew/copy" target="_blank">Open the application</a>
  <br>
  <br>
  <strong>Deadline</strong>
  <p>The deadline for nominations is February 1, 2018. No late materials will be accepted.  Entries should be submitted to:</p>
  <p>Alissa Sanders
    <br>sandersa@cashton.k12.wi.us
  </p>
  <p>
      Recipients of the Administrator Award will be notified by the end of February.  The person(s) nominating the administrator will receive a copy of the notification letter.      
  </p>
  <strong>
      The Award recipient will receive:      
  </strong>
  <ul>
    <li>Check in the amount of $200 written to his/her school</li>
    <li>Hotel room the evening before the breakfast meeting (where award is presented)</li>
    <li>Breakfast</li>
  </ul>
  <strong>Documents</strong>
  <table class="striped bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Administrator Award App.doc</td>
        <td>Application Document</td>
        <td>
          <a class="btn waves-effect waves-dark white-text" href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnx3aXNjb25zaW50aXRsZTFhc3NvY2lhdGlvbnd0MWF8Z3g6MjU1OTQ1N2JjOGE3NTEzMA" target="_blank">Open in Google Docs</a>
        </td>
      </tr>
      <tr>
        <td>WT1A Awards History.pdf</td>
        <td>Historical Document of Previous Recipients</td>
        <td>
          <a class="btn waves-effect waves-dark white-text" href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnx3aXNjb25zaW50aXRsZTFhc3NvY2lhdGlvbnd0MWF8Z3g6Nzk3MGYyNTMxZmYzMzBlYw" target="_blank">Open in Google Docs</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>